body {
  background: rgb(129, 120, 118);
}

h1 {
  color: rgb(231, 224, 214);
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: block;
}

.Draftail-Toolbar {
  background: transparent !important;
  border: none !important;
}
.Draftail-Editor {
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.public-DraftEditor-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.public-DraftEditorPlaceholder-inner {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
